.input {
  display: flex;
  flex-direction: column;
}
.input-text {
  width: 50%;
  height: 2rem;
  margin-right: 5px;
}
.input-button {
  padding: 5px;
  height: 2.4rem;
  width: 4rem;
  background-color: blue;
  color: white;
  font-weight: 900;
}
